'name': 'Hyperlink'
'scopeName': 'text.hyperlink'
'fileTypes': []
'injectionSelector': 'text, string -string.regexp, comment, source.gfm'
'patterns': [
  {
    'match': '(?x)( (https?|s?ftp|ftps|file|smb|afp|nfs|(x-)?man(-page)?|gopher|txmt|issue)://|mailto:)((?!(\\#[a-zA-Z0-9]*\\#))(?:[-:@a-zA-Z0-9.,~%+_\/?=&#;|!]))+(?<![-.,?:#;])'
    'name': 'markup.underline.link.$2.hyperlink'
  }
  {
    'match': '(?i)\\bRFC(?: |(?<= RFC))(\\d+)\\b'
    'name': 'markup.underline.link.rfc.$1.hyperlink'
  }
]
